<!DOCTYPE html>
<html lang="en" ng-app="SpotifyApp">

<head>
    <meta charset="UTF-8">
    <title>My Spotify Angular Demo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Angular minified-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Spotify finder with Angular</h1>
       
        <section id="search-artists" ng-controller="SearchArtistController">
            <h3>Spotify Search Tracks</h3>
            
            <form  action="" method="POST" class="form-inline" role="form" ng-submit="searchArtist($event)">
                <div class="form-group">
                    <label for="">Search an artist: </label>
                    <input type="text" class="form-control" autofocus placeholder="Input artist name..." ng-model="search">
                </div>
                <button type="submit" class="form-control btn btn-primary">Search</button>
            </form> 
        </section>

        <section ng-controller="SelectArtistController">  
            <form  action="" method="POST" role="form" ng-submit="searchAlbum($event)">
                <div class="form-group">
                    <label for="">Select an Artist: </label>
                    <select class="form-control" ng-change="searchAlbum()" ng-model="search">
                        <option value="">--- Select an artist ---</option>
                        <option  value="{{artist.id}}" ng-repeat="artist in artists" >{{artist.name}}</option>
                    </select>
                </div>
            </form>
        </section>

        <section ng-controller="SelectAlbumController">
            <form action="" method="POST" role="form" ng-submit="searchTrack($event)">
                <div class="form-group">
                    <label for="">Select an Album</label>
                    <select class="form-control" ng-change="searchTrack()" ng-model="search">
                        <option value="">--- Select an album ---</option>
                        <option value="{{album.id}}" ng-repeat="album in albums" >{{album.name}}</option>
                    </select>
                </div>
            </form>
        </section>

    </div>

    <div class="container">
        <ul class="list-unstyled">
            <li ng-repeat="track in tracks">
            <audio href="{{track.preview_url}}" type="audio/mpeg" controls></audio>
            <p>{{track.name}}</p>
            </li>
        </ul>
    </div>


    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <!-- Latest compiled and minified JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Controllers .js-->
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
</body>

</html>
